In [43]:
import pandas as pd
import numpy as np
from functools import reduce

In [90]:
from pathlib import Path
import pandas as pd
entries = Path('dfs/')
dfs =[]
for entry in entries.iterdir():
    try:
        dfs.append(pd.read_csv(entry))
    except:
        'None'

df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Jugadores'],
                                            how='outer'), dfs).fillna(0)

In [45]:
Jugadores = ['Paco','Pepe','Rafa','Fran','Raul','Hugo','Julio','Fiti','Diego','Manete']
Goles = [0,0,0,1,1,1,1,1,0,0]
Equipos = ['Az','Az','Az','Az','Az','Am','Am','Am','Am','Am']
MVP = [0,0,0,0,0,0,0,1,0,0]
WL = ['L','L','L','L','L','W','W','W','W','W']

In [46]:
df = pd.DataFrame({'Jugadores':Jugadores,
                   'Goles':Goles,
                   'Equipos':Equipos,
                   'MVP':MVP,
                   'WL':WL})

In [15]:
df.to_csv('Partido4.csv',index = False)

In [68]:
df_merged

,Jugadores,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y
0,Omar,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
1,Alfonso,0.0,Am,0.0,W,0.0,0,0.0,0,2.0,Am,1.0,W,0.0,0,0.0,0
2,Javi,1.0,Am,0.0,W,2.0,Am,0.0,W,0.0,Am,0.0,W,0.0,0,0.0,0
3,Hugo,3.0,Am,1.0,W,3.0,Am,1.0,W,0.0,0,0.0,0,1.0,Am,0.0,W
4,Fran,1.0,Am,0.0,W,2.0,Am,0.0,W,1.0,Am,0.0,W,1.0,Az,0.0,L
5,Pepe,0.0,Az,0.0,L,1.0,Az,0.0,L,0.0,Az,0.0,L,0.0,Az,0.0,L
6,Manolo,0.0,Az,0.0,L,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0
7,Jose Bravo,2.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
8,Diego,1.0,Az,0.0,L,3.0,Az,0.0,L,1.0,Am,0.0,W,0.0,Am,0.0,W
9,Rafa,0.0,Az,0.0,L,1.0,Am,0.0,W,0.0,0,0.0,0,0.0,Az,0.0,L
10,Ferran,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0
11,Julio,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,Az,0.0,L,1.0,Am,0.0,W
12,Paco,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,Az,0.0,L
13,Jesus D,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0
14,Carlos M,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
15,Pablo,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0
16,Manu Jesus,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
17,Raul,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L
18,Fiti,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Am,1.0,W
19,Manete,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W

In [78]:

df_goles = df_merged.groupby(['Jugadores'])['Goles_x'].sum() + round(df_merged.groupby(['Jugadores'])['Goles_y'].sum()) +round(df_merged.groupby(['Jugadores'])['Goles'].sum())
df_goles = df_goles.sort_values(ascending = False)
df_goles = df_goles.astype(int)
df_mvps = df_merged.groupby(['Jugadores'])['MVP_x'].sum() + round(df_merged.groupby(['Jugadores'])['MVP_y'].sum()) +round(df_merged.groupby(['Jugadores'])['MVP'].sum())
df_mvps = df_mvps.sort_values(ascending = False)
df_mvps = df_mvps.astype(int)
df_wins = df_merged.groupby(['Jugadores'])['WL_x'].sum().astype(str) + df_merged.groupby(['Jugadores'])['WL_y'].sum().astype(str) +df_merged.groupby(['Jugadores'])['WL'].sum().astype(str)
print(df_goles.values)
winloss = []
perc = []
for i in df_wins.values:
    winloss.append(str(i.count('W'))+'-'+str(i.count('L')))
    perc.append(round(i.count('W') / (i.count('W') + i.count('L')) * 100))
jogadores = (list(df_wins.index))

df_wins2 = pd.DataFrame({'Jugadores':jogadores,
                         'TotalWL':winloss,
                         'Win%':perc})
df_wins2.sort_values(by='TotalWL',ascending = False,inplace = True)
df_wins2.reset_index(inplace = True)
df_wins2.drop('index',axis=1,inplace = True)

AttributeError: 'DataFrame' object has no attribute 'name'

In [20]:
df_goles = df_merged.groupby(['Jugadores'])['Goles_x'].sum() + round(df_merged.groupby(['Jugadores'])['Goles_y'].sum()) +round(df_merged.groupby(['Jugadores'])['Goles'].sum())

AttributeError: 'DataFrame' object has no attribute 'name'

In [69]:
try:
    merged1 = df_merged.groupby(['Jugadores'])['Goles_x'].sum()
except:'None'

In [72]:
merged1.sum()

AttributeError: 'DataFrame' object has no attribute 'name'

In [56]:
df_wins2.sort_values(by='Win%',ascending=False)

     Jugadores TotalWL  Win%
0         Javi     3-0   100
6       Ferran     1-0   100
1         Fran     3-0   100
7      Jesus D     1-0   100
8         Omar     1-0   100
3         Hugo     2-0   100
2      Alfonso     2-0   100
5         Rafa     1-1    50
4        Diego     1-2    33
9         Pepe     0-3     0
10       Julio     0-2     0
11      Manolo     0-2     0
12    Carlos M     0-1     0
13  Manu Jesus     0-1     0
14       Pablo     0-1     0
15        Paco     0-1     0
16  Jose Bravo     0-1     0

In [41]:
df4 = pd.read_csv('Partido4.csv')

In [59]:
for i in dfs:
    print(i)

    Jugadores  Goles Equipo  MVP WL
0        Omar      0     Am    0  W
1     Alfonso      0     Am    0  W
2        Javi      1     Am    0  W
3        Hugo      3     Am    1  W
4        Fran      1     Am    0  W
5        Pepe      0     Az    0  L
6      Manolo      0     Az    0  L
7  Jose Bravo      2     Az    0  L
8       Diego      1     Az    0  L
9        Rafa      0     Az    0  L
  Jugadores  Goles Equipo  MVP WL
0      Rafa      1     Am    0  W
1      Javi      2     Am    0  W
2      Hugo      3     Am    1  W
3      Fran      2     Am    0  W
4    Ferran      0     Am    0  W
5      Pepe      1     Az    0  L
6     Diego      3     Az    0  L
7     Julio      1     Az    0  L
8      Paco      0     Az    0  L
9    Manolo      0     Az    0  L
    Jugadores  Goles Equipo  MVP WL
0       Diego      1     Am    0  W
1     Jesus D      0     Am    0  W
2        Javi      0     Am    0  W
3        Fran      1     Am    0  W
4     Alfonso      2     Am    1  W
5        Pepe      0     Az    0  L
6    Carlos M      1     Az    0  L
7       Pablo      0     Az    0  L
8       Julio      0     Az    0  L
9  Manu Jesus      1     Az    0  L

In [61]:
df.rename(columns = {'Equipos':'Equipo'}, inplace = True)

In [64]:
df.to_csv('Partido4.csv',index = False)

In [88]:
df_merged.columns

Index(['Jugadores', 'Goles_x', 'Equipo_x', 'MVP_x', 'WL_x', 'Goles_y',
       'Equipo_y', 'MVP_y', 'WL_y', 'Goles_x', 'Equipo_x', 'MVP_x', 'WL_x',
       'Goles_y', 'Equipo_y', 'MVP_y', 'WL_y'],
      dtype='object')

In [85]:
df_merged

,Jugadores,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y
0,Omar,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
1,Alfonso,0.0,Am,0.0,W,0.0,0,0.0,0,2.0,Am,1.0,W,0.0,0,0.0,0
2,Javi,1.0,Am,0.0,W,2.0,Am,0.0,W,0.0,Am,0.0,W,0.0,0,0.0,0
3,Hugo,3.0,Am,1.0,W,3.0,Am,1.0,W,0.0,0,0.0,0,1.0,Am,0.0,W
4,Fran,1.0,Am,0.0,W,2.0,Am,0.0,W,1.0,Am,0.0,W,1.0,Az,0.0,L
5,Pepe,0.0,Az,0.0,L,1.0,Az,0.0,L,0.0,Az,0.0,L,0.0,Az,0.0,L
6,Manolo,0.0,Az,0.0,L,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0
7,Jose Bravo,2.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
8,Diego,1.0,Az,0.0,L,3.0,Az,0.0,L,1.0,Am,0.0,W,0.0,Am,0.0,W
9,Rafa,0.0,Az,0.0,L,1.0,Am,0.0,W,0.0,0,0.0,0,0.0,Az,0.0,L
10,Ferran,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0
11,Julio,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,Az,0.0,L,1.0,Am,0.0,W
12,Paco,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,Az,0.0,L
13,Jesus D,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0
14,Carlos M,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
15,Pablo,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0
16,Manu Jesus,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
17,Raul,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L
18,Fiti,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Am,1.0,W
19,Manete,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W

In [95]:
for i in dfs:
    print(i)

    Jugadores  Goles Equipo  MVP WL
0        Omar      0     Am    0  W
1     Alfonso      0     Am    0  W
2        Javi      1     Am    0  W
3        Hugo      3     Am    1  W
4        Fran      1     Am    0  W
5        Pepe      0     Az    0  L
6      Manolo      0     Az    0  L
7  Jose Bravo      2     Az    0  L
8       Diego      1     Az    0  L
9        Rafa      0     Az    0  L
  Jugadores  Goles Equipo  MVP WL
0      Rafa      1     Am    0  W
1      Javi      2     Am    0  W
2      Hugo      3     Am    1  W
3      Fran      2     Am    0  W
4    Ferran      0     Am    0  W
5      Pepe      1     Az    0  L
6     Diego      3     Az    0  L
7     Julio      1     Az    0  L
8      Paco      0     Az    0  L
9    Manolo      0     Az    0  L
    Jugadores  Goles Equipo  MVP WL
0       Diego      1     Am    0  W
1     Jesus D      0     Am    0  W
2        Javi      0     Am    0  W
3        Fran      1     Am    0  W
4     Alfonso      2     Am    1  W
5        Pepe      0     Az    0  L
6    Carlos M      1     Az    0  L
7       Pablo      0     Az    0  L
8       Julio      0     Az    0  L
9  Manu Jesus      1     Az    0  L
  Jugadores  Goles Equipo  MVP WL
0      Paco      0     Az    0  L
1      Pepe      0     Az    0  L
2      Rafa      0     Az    0  L
3      Fran      1     Az    0  L
4      Raul      1     Az    0  L
5      Hugo      1     Am    0  W
6     Julio      1     Am    0  W
7      Fiti      1     Am    1  W
8     Diego      0     Am    0  W
9    Manete      0     Am    0  W

In [96]:
dfs[0]

    Jugadores  Goles Equipo  MVP WL
0        Omar      0     Am    0  W
1     Alfonso      0     Am    0  W
2        Javi      1     Am    0  W
3        Hugo      3     Am    1  W
4        Fran      1     Am    0  W
5        Pepe      0     Az    0  L
6      Manolo      0     Az    0  L
7  Jose Bravo      2     Az    0  L
8       Diego      1     Az    0  L
9        Rafa      0     Az    0  L

In [105]:
merged_df = pd.concat(dfs)

In [106]:
merged_df

    Jugadores  Goles Equipo  MVP WL
0        Omar      0     Am    0  W
1     Alfonso      0     Am    0  W
2        Javi      1     Am    0  W
3        Hugo      3     Am    1  W
4        Fran      1     Am    0  W
5        Pepe      0     Az    0  L
6      Manolo      0     Az    0  L
7  Jose Bravo      2     Az    0  L
8       Diego      1     Az    0  L
9        Rafa      0     Az    0  L
0        Rafa      1     Am    0  W
1        Javi      2     Am    0  W
2        Hugo      3     Am    1  W
3        Fran      2     Am    0  W
4      Ferran      0     Am    0  W
5        Pepe      1     Az    0  L
6       Diego      3     Az    0  L
7       Julio      1     Az    0  L
8        Paco      0     Az    0  L
9      Manolo      0     Az    0  L
0       Diego      1     Am    0  W
1     Jesus D      0     Am    0  W
2        Javi      0     Am    0  W
3        Fran      1     Am    0  W
4     Alfonso      2     Am    1  W
5        Pepe      0     Az    0  L
6    Carlos M      1     Az    0  L
7       Pablo      0     Az    0  L
8       Julio      0     Az    0  L
9  Manu Jesus      1     Az    0  L
0        Paco      0     Az    0  L
1        Pepe      0     Az    0  L
2        Rafa      0     Az    0  L
3        Fran      1     Az    0  L
4        Raul      1     Az    0  L
5        Hugo      1     Am    0  W
6       Julio      1     Am    0  W
7        Fiti      1     Am    1  W
8       Diego      0     Am    0  W
9      Manete      0     Am    0  W

In [118]:
merged_df.groupby(['Jugadores'])['Goles'].sum().sort_values(ascending=False)

Jugadores
Hugo          7
Diego         5
Fran          5
Javi          3
Jose Bravo    2
Julio         2
Alfonso       2
Manu Jesus    1
Rafa          1
Fiti          1
Pepe          1
Carlos M      1
Raul          1
Manolo        0
Manete        0
Jesus D       0
Omar          0
Pablo         0
Paco          0
Ferran        0
Name: Goles, dtype: int64

In [119]:
merged_df.groupby(['Jugadores'])['MVP'].sum().sort_values(ascending=False)

Jugadores
Hugo          2
Alfonso       1
Fiti          1
Rafa          0
Carlos M      0
Diego         0
Ferran        0
Fran          0
Javi          0
Jesus D       0
Raul          0
Julio         0
Manete        0
Manolo        0
Manu Jesus    0
Omar          0
Pablo         0
Paco          0
Pepe          0
Jose Bravo    0
Name: MVP, dtype: int64

In [120]:
merged_df.groupby(['Jugadores'])['WL'].sum().sort_values(ascending=False)

Jugadores
Fran          WWWL
Javi           WWW
Hugo           WWW
Alfonso         WW
Ferran           W
Omar             W
Manete           W
Jesus D          W
Fiti             W
Rafa           LWL
Diego         LLWW
Julio          LLW
Pepe          LLLL
Paco            LL
Manolo          LL
Carlos M         L
Raul             L
Manu Jesus       L
Pablo            L
Jose Bravo       L
Name: WL, dtype: object

In [129]:
def find_the_number_plate(customer_id):
    if customer_id in range(17558424):
        return customer_id
    else:
        print('New number pls')

In [133]:
find_the_number_plate(17558424)

New number pls

In [193]:
17558424/999

17576.0

In [188]:
num = 7
if num in range(1000):
    if  num+1 < 10:
        print('aaa'+'00'+str(num+1))
    elif 10<= num+1 <100:
        print('aaa'+'0'+str(num+1))
    else:
        print('aaa'+str(num+1))

aaa008

In [195]:
alpha = {1:'a', 2:'b', 3:'c', 4:'d', 5:'e', 6:'f', 7:'g', 8:'h', 9:'i', 10:'j', 11:'k', 12:'l', 13:'m', 14:'n', 15:'o', 16:'p', 17:'q', 18:'r', 19:'s', 20:'t', 21:'u', 22:'v', 23:'w', 24:'x', 25:'y', 26:'z'}

{1: 'a',
 2: 'b',
 3: 'c',
 4: 'd',
 5: 'e',
 6: 'f',
 7: 'g',
 8: 'h',
 9: 'i',
 10: 'j',
 11: 'k',
 12: 'l',
 13: 'm',
 14: 'n',
 15: 'o',
 16: 'p',
 17: 'q',
 18: 'r',
 19: 's',
 20: 't',
 21: 'u',
 22: 'v',
 23: 'w',
 24: 'x',
 25: 'y',
 26: 'z'}

In [228]:
num = 17558422

In [229]:
(num+1)/999

17575.998998999

In [199]:
len(alpha)

26

In [224]:
234568/999

234.8028028028028

In [226]:
43057/999

43.1001001001001

In [235]:
df_merged.index = pd.RangeIndex(1,len(df_merged)+1)

In [236]:
df_merged

,Jugadores,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y,Goles_x,Equipo_x,MVP_x,WL_x,Goles_y,Equipo_y,MVP_y,WL_y
1,Omar,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
2,Alfonso,0.0,Am,0.0,W,0.0,0,0.0,0,2.0,Am,1.0,W,0.0,0,0.0,0
3,Javi,1.0,Am,0.0,W,2.0,Am,0.0,W,0.0,Am,0.0,W,0.0,0,0.0,0
4,Hugo,3.0,Am,1.0,W,3.0,Am,1.0,W,0.0,0,0.0,0,1.0,Am,0.0,W
5,Fran,1.0,Am,0.0,W,2.0,Am,0.0,W,1.0,Am,0.0,W,1.0,Az,0.0,L
6,Pepe,0.0,Az,0.0,L,1.0,Az,0.0,L,0.0,Az,0.0,L,0.0,Az,0.0,L
7,Manolo,0.0,Az,0.0,L,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0
8,Jose Bravo,2.0,Az,0.0,L,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0
9,Diego,1.0,Az,0.0,L,3.0,Az,0.0,L,1.0,Am,0.0,W,0.0,Am,0.0,W
10,Rafa,0.0,Az,0.0,L,1.0,Am,0.0,W,0.0,0,0.0,0,0.0,Az,0.0,L
11,Ferran,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0,0.0,0,0.0,0
12,Julio,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,Az,0.0,L,1.0,Am,0.0,W
13,Paco,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0,0.0,Az,0.0,L
14,Jesus D,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W,0.0,0,0.0,0
15,Carlos M,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
16,Pablo,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Az,0.0,L,0.0,0,0.0,0
17,Manu Jesus,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L,0.0,0,0.0,0
18,Raul,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Az,0.0,L
19,Fiti,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,1.0,Am,1.0,W
20,Manete,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0,Am,0.0,W

In [271]:
merged_df = pd.concat(dfs)

In [277]:
merged_df.groupby(['Jugadores'])['WL'].describe()

           count unique top freq
Jugadores
Alfonso        2      1   W    2
Carlos M       1      1   L    1
Diego          4      2   L    2
Ferran         1      1   W    1
Fiti           1      1   W    1
Fran           4      2   W    3
Hugo           3      1   W    3
Javi           3      1   W    3
Jesus D        1      1   W    1
Jose Bravo     1      1   L    1
Julio          3      2   L    2
Manete         1      1   W    1
Manolo         2      1   L    2
Manu Jesus     1      1   L    1
Omar           1      1   W    1
Pablo          1      1   L    1
Paco           2      1   L    2
Pepe           4      1   L    4
Rafa           3      2   L    2
Raul           1      1   L    1

In [280]:
for i in range(0,len(merged_df),5):
    print()

Omar
Alfonso
Javi
Hugo
Fran
Pepe
Manolo
Jose Bravo
Diego
Rafa
Rafa
Javi
Hugo
Fran
Ferran
Pepe
Diego
Julio
Paco
Manolo
Diego
Jesus D
Javi
Fran
Alfonso
Pepe
Carlos M
Pablo
Julio
Manu Jesus
Paco
Pepe
Rafa
Fran
Raul
Hugo
Julio
Fiti
Diego
Manete

In [282]:
range(0,len(merged_df),5)

range(0, 40, 5)

In [294]:
merged_df = pd.concat(dfs)

In [297]:
merged_df.reset_index(inplace = True)

In [299]:
merged_df.drop('index',axis = 1,inplace = True)

In [307]:
merged_df[merged_df.index==0]['Jugadores'].values[0]

'Omar'

In [383]:
teamed = []
x = 0
for i in range(0,len(merged_df),5):
    x += 5
    teamed.append((merged_df[['Jugadores','WL']][i:x]))

In [393]:
teamed[0]

  Jugadores WL
0      Omar  W
1   Alfonso  W
2      Javi  W
3      Hugo  W
4      Fran  W

In [382]:
merged_df[['Jugadores','WL']][0:5]

  Jugadores WL
0      Omar  W
1   Alfonso  W
2      Javi  W
3      Hugo  W
4      Fran  W

In [406]:
prueba1 = teamed[0]['Jugadores']

In [407]:
prueba2 = teamed[2]['Jugadores']

In [409]:
list(set(prueba1).intersection(prueba2))

['Hugo', 'Javi', 'Fran']

In [429]:
list(set(teamed[0]['Jugadores']).intersection(teamed[4]['Jugadores']))

['Alfonso', 'Javi', 'Fran']

In [421]:
teamed[4]

   Jugadores WL
20     Diego  W
21   Jesus D  W
22      Javi  W
23      Fran  W
24   Alfonso  W

In [563]:
winners = []
for i in teamed:
    if 'W' in i['WL'].values:
        winners.append(list(i['Jugadores']))

In [564]:
winners

[['Omar', 'Alfonso', 'Javi', 'Hugo', 'Fran'],
 ['Rafa', 'Javi', 'Hugo', 'Fran', 'Ferran'],
 ['Diego', 'Jesus D', 'Javi', 'Fran', 'Alfonso'],
 ['Hugo', 'Julio', 'Fiti', 'Diego', 'Manete']]

In [569]:
import itertools

tots = (list(itertools.chain.from_iterable(winners)))
unicos = list(set(tots))

In [629]:
parejas = {}
for i in unicos:
    for jugadores in winners:
        if i in jugadores:
            print('El jugador',i,'Ha ganado con',set(jugadores)-set([i]))
            parejas.setdefault(i, []).append(list((set(jugadores)-set([i]))))

El jugador Manete Ha ganado con {'Hugo', 'Fiti', 'Diego', 'Julio'}
El jugador Fran Ha ganado con {'Hugo', 'Alfonso', 'Javi', 'Omar'}
El jugador Fran Ha ganado con {'Hugo', 'Javi', 'Ferran', 'Rafa'}
El jugador Fran Ha ganado con {'Alfonso', 'Javi', 'Diego', 'Jesus D'}
El jugador Ferran Ha ganado con {'Hugo', 'Fran', 'Rafa', 'Javi'}
El jugador Alfonso Ha ganado con {'Hugo', 'Omar', 'Fran', 'Javi'}
El jugador Alfonso Ha ganado con {'Fran', 'Diego', 'Jesus D', 'Javi'}
El jugador Fiti Ha ganado con {'Manete', 'Diego', 'Julio', 'Hugo'}
El jugador Diego Ha ganado con {'Alfonso', 'Fran', 'Javi', 'Jesus D'}
El jugador Diego Ha ganado con {'Manete', 'Fiti', 'Hugo', 'Julio'}
El jugador Omar Ha ganado con {'Hugo', 'Alfonso', 'Fran', 'Javi'}
El jugador Julio Ha ganado con {'Manete', 'Fiti', 'Diego', 'Hugo'}
El jugador Jesus D Ha ganado con {'Alfonso', 'Fran', 'Diego', 'Javi'}
El jugador Hugo Ha ganado con {'Alfonso', 'Fran', 'Omar', 'Javi'}
El jugador Hugo Ha ganado con {'Fran', 'Ferran', 'Javi', 'Rafa'}
El jugador Hugo Ha ganado con {'Manete', 'Fiti', 'Diego', 'Julio'}
El jugador Javi Ha ganado con {'Hugo', 'Alfonso', 'Fran', 'Omar'}
El jugador Javi Ha ganado con {'Hugo', 'Fran', 'Ferran', 'Rafa'}
El jugador Javi Ha ganado con {'Alfonso', 'Fran', 'Diego', 'Jesus D'}
El jugador Rafa Ha ganado con {'Hugo', 'Fran', 'Ferran', 'Javi'}

In [646]:
javitest = parejas['Javi']

In [680]:
countlist = []
for lista in javitest:
    for jugador in lista:
        countlist.append(jugador)

In [654]:
list(set(countlist))

['Fran', 'Ferran', 'Alfonso', 'Diego', 'Omar', 'Jesus D', 'Hugo', 'Rafa']

In [700]:
javitest

[['Hugo', 'Alfonso', 'Fran', 'Omar'],
 ['Hugo', 'Fran', 'Ferran', 'Rafa'],
 ['Alfonso', 'Fran', 'Diego', 'Jesus D']]

In [682]:
countdic = {}
for i in list(set(countlist)):
    countdic[i]= countlist.count(i)

In [727]:
dictglobal = {}
for dicts in parejas:
    for i in(parejas[dicts]):
        for j in i:
            dictglobal.setdefault(j, []).append(dicts)

In [728]:
dictglobal

{'Hugo': ['Manete',
  'Fran',
  'Fran',
  'Ferran',
  'Alfonso',
  'Fiti',
  'Diego',
  'Omar',
  'Julio',
  'Javi',
  'Javi',
  'Rafa'],
 'Fiti': ['Manete', 'Diego', 'Julio', 'Hugo'],
 'Diego': ['Manete',
  'Fran',
  'Alfonso',
  'Fiti',
  'Julio',
  'Jesus D',
  'Hugo',
  'Javi'],
 'Julio': ['Manete', 'Fiti', 'Diego', 'Hugo'],
 'Alfonso': ['Fran',
  'Fran',
  'Diego',
  'Omar',
  'Jesus D',
  'Hugo',
  'Javi',
  'Javi'],
 'Javi': ['Fran',
  'Fran',
  'Fran',
  'Ferran',
  'Alfonso',
  'Alfonso',
  'Diego',
  'Omar',
  'Jesus D',
  'Hugo',
  'Hugo',
  'Rafa'],
 'Omar': ['Fran', 'Alfonso', 'Hugo', 'Javi'],
 'Ferran': ['Fran', 'Hugo', 'Javi', 'Rafa'],
 'Rafa': ['Fran', 'Ferran', 'Hugo', 'Javi'],
 'Jesus D': ['Fran', 'Alfonso', 'Diego', 'Javi'],
 'Fran': ['Ferran',
  'Alfonso',
  'Alfonso',
  'Diego',
  'Omar',
  'Jesus D',
  'Hugo',
  'Hugo',
  'Javi',
  'Javi',
  'Javi',
  'Rafa'],
 'Manete': ['Fiti', 'Diego', 'Julio', 'Hugo']}

In [676]:
dictglobal

{'Manete': [['Hugo', 'Fiti', 'Diego', 'Julio']],
 'Fran': [['Hugo', 'Alfonso', 'Javi', 'Omar'],
  ['Hugo', 'Javi', 'Ferran', 'Rafa'],
  ['Alfonso', 'Javi', 'Diego', 'Jesus D']],
 'Ferran': [['Hugo', 'Fran', 'Rafa', 'Javi']],
 'Alfonso': [['Hugo', 'Omar', 'Fran', 'Javi'],
  ['Fran', 'Diego', 'Jesus D', 'Javi']],
 'Fiti': [['Manete', 'Diego', 'Julio', 'Hugo']],
 'Diego': [['Alfonso', 'Fran', 'Javi', 'Jesus D'],
  ['Manete', 'Fiti', 'Hugo', 'Julio']],
 'Omar': [['Hugo', 'Alfonso', 'Fran', 'Javi']],
 'Julio': [['Manete', 'Fiti', 'Diego', 'Hugo']],
 'Jesus D': [['Alfonso', 'Fran', 'Diego', 'Javi']],
 'Hugo': [['Alfonso', 'Fran', 'Omar', 'Javi'],
  ['Fran', 'Ferran', 'Javi', 'Rafa'],
  ['Manete', 'Fiti', 'Diego', 'Julio']],
 'Javi': [['Hugo', 'Alfonso', 'Fran', 'Omar'],
  ['Hugo', 'Fran', 'Ferran', 'Rafa'],
  ['Alfonso', 'Fran', 'Diego', 'Jesus D']],
 'Rafa': [['Hugo', 'Fran', 'Ferran', 'Javi']]}

In [963]:
import itertools

teamed = []
x = 0
for i in range(0,len(merged_df),5):
    x += 5
    teamed.append((merged_df[['Jugadores','WL']][i:x]))
    
winners = []
for i in teamed:
    if 'W' in i['WL'].values:
        winners.append(list(i['Jugadores']))


tots = (list(itertools.chain.from_iterable(winners)))
unicos = list(set(tots))

parejas = {}
for i in unicos:
    for jugadores in winners:
        if i in jugadores:
            parejas.setdefault(i, []).append(list((set(jugadores)-set([i]))))
dictglobal = {}
for dicts in parejas:
    for i in(parejas[dicts]):
        for j in i:
            dictglobal.setdefault(j, []).append(dicts)
final_dict = {}
megadict = {}
for i in dictglobal:
    unique_list = list(set((dictglobal[i])))
    #print(dictglobal[i])
    for j in unique_list:
        #print(dictglobal[i].count(j),j)
        megadict.setdefault(j,[]).append((i,dictglobal[i].count(j)))
real_final_dict = {}
for i in megadict:
    #print(dict(megadict[i]),i)
    real_final_dict[i] = dict(megadict[i])

In [964]:
real_final_dict

{'Manete': {'Hugo': 1, 'Fiti': 1, 'Diego': 1, 'Julio': 1},
 'Fran': {'Hugo': 2,
  'Diego': 1,
  'Alfonso': 2,
  'Javi': 3,
  'Omar': 1,
  'Ferran': 1,
  'Rafa': 1,
  'Jesus D': 1},
 'Ferran': {'Hugo': 1, 'Javi': 1, 'Rafa': 1, 'Fran': 1},
 'Alfonso': {'Hugo': 1,
  'Diego': 1,
  'Javi': 2,
  'Omar': 1,
  'Jesus D': 1,
  'Fran': 2},
 'Fiti': {'Hugo': 1, 'Diego': 1, 'Julio': 1, 'Manete': 1},
 'Diego': {'Hugo': 1,
  'Fiti': 1,
  'Julio': 1,
  'Alfonso': 1,
  'Javi': 1,
  'Jesus D': 1,
  'Fran': 1,
  'Manete': 1},
 'Omar': {'Hugo': 1, 'Alfonso': 1, 'Javi': 1, 'Fran': 1},
 'Julio': {'Hugo': 1, 'Fiti': 1, 'Diego': 1, 'Manete': 1},
 'Javi': {'Hugo': 2,
  'Diego': 1,
  'Alfonso': 2,
  'Omar': 1,
  'Ferran': 1,
  'Rafa': 1,
  'Jesus D': 1,
  'Fran': 3},
 'Rafa': {'Hugo': 1, 'Javi': 1, 'Ferran': 1, 'Fran': 1},
 'Hugo': {'Fiti': 1,
  'Diego': 1,
  'Julio': 1,
  'Alfonso': 1,
  'Javi': 2,
  'Omar': 1,
  'Ferran': 1,
  'Rafa': 1,
  'Fran': 2,
  'Manete': 1},
 'Jesus D': {'Diego': 1, 'Alfonso': 1, 'Javi': 1, 'Fran': 1}}

In [744]:
countdic = {}
for i in list(set(dictglobal['Hugo'])):
    countdic[i]= dictglobal['Hugo'].count(i)

In [940]:
parejas

{'Manete': [['Hugo', 'Fiti', 'Diego', 'Julio']],
 'Fran': [['Hugo', 'Alfonso', 'Javi', 'Omar'],
  ['Hugo', 'Javi', 'Ferran', 'Rafa'],
  ['Alfonso', 'Javi', 'Diego', 'Jesus D']],
 'Ferran': [['Hugo', 'Fran', 'Rafa', 'Javi']],
 'Alfonso': [['Hugo', 'Omar', 'Fran', 'Javi'],
  ['Fran', 'Diego', 'Jesus D', 'Javi']],
 'Fiti': [['Manete', 'Diego', 'Julio', 'Hugo']],
 'Diego': [['Alfonso', 'Fran', 'Javi', 'Jesus D'],
  ['Manete', 'Fiti', 'Hugo', 'Julio']],
 'Omar': [['Hugo', 'Alfonso', 'Fran', 'Javi']],
 'Julio': [['Manete', 'Fiti', 'Diego', 'Hugo']],
 'Jesus D': [['Alfonso', 'Fran', 'Diego', 'Javi']],
 'Hugo': [['Alfonso', 'Fran', 'Omar', 'Javi'],
  ['Fran', 'Ferran', 'Javi', 'Rafa'],
  ['Manete', 'Fiti', 'Diego', 'Julio']],
 'Javi': [['Hugo', 'Alfonso', 'Fran', 'Omar'],
  ['Hugo', 'Fran', 'Ferran', 'Rafa'],
  ['Alfonso', 'Fran', 'Diego', 'Jesus D']],
 'Rafa': [['Hugo', 'Fran', 'Ferran', 'Javi']]}

In [900]:
final_dict = {}
megadict = {}
for i in dictglobal:
    unique_list = list(set((dictglobal[i])))
    print(dictglobal[i])
    for j in unique_list:
        print(dictglobal[i].count(j),j)
        megadict.setdefault(j,[]).append((i,dictglobal[i].count(j)))

['Manete', 'Fran', 'Fran', 'Ferran', 'Alfonso', 'Fiti', 'Diego', 'Omar', 'Julio', 'Javi', 'Javi', 'Rafa']
1 Manete
2 Fran
1 Ferran
1 Alfonso
1 Fiti
1 Diego
1 Omar
1 Julio
2 Javi
1 Rafa
['Manete', 'Diego', 'Julio', 'Hugo']
1 Manete
1 Diego
1 Julio
1 Hugo
['Manete', 'Fran', 'Alfonso', 'Fiti', 'Julio', 'Jesus D', 'Hugo', 'Javi']
1 Manete
1 Fran
1 Alfonso
1 Fiti
1 Julio
1 Jesus D
1 Hugo
1 Javi
['Manete', 'Fiti', 'Diego', 'Hugo']
1 Manete
1 Fiti
1 Diego
1 Hugo
['Fran', 'Fran', 'Diego', 'Omar', 'Jesus D', 'Hugo', 'Javi', 'Javi']
2 Fran
1 Diego
1 Omar
1 Jesus D
1 Hugo
2 Javi
['Fran', 'Fran', 'Fran', 'Ferran', 'Alfonso', 'Alfonso', 'Diego', 'Omar', 'Jesus D', 'Hugo', 'Hugo', 'Rafa']
3 Fran
1 Ferran
2 Alfonso
1 Diego
1 Omar
1 Jesus D
2 Hugo
1 Rafa
['Fran', 'Alfonso', 'Hugo', 'Javi']
1 Hugo
1 Alfonso
1 Fran
1 Javi
['Fran', 'Hugo', 'Javi', 'Rafa']
1 Hugo
1 Fran
1 Rafa
1 Javi
['Fran', 'Ferran', 'Hugo', 'Javi']
1 Hugo
1 Fran
1 Ferran
1 Javi
['Fran', 'Alfonso', 'Diego', 'Javi']
1 Alfonso
1 Fran
1 Diego
1 Javi
['Ferran', 'Alfonso', 'Alfonso', 'Diego', 'Omar', 'Jesus D', 'Hugo', 'Hugo', 'Javi', 'Javi', 'Javi', 'Rafa']
1 Ferran
2 Alfonso
1 Diego
1 Omar
1 Jesus D
2 Hugo
3 Javi
1 Rafa
['Fiti', 'Diego', 'Julio', 'Hugo']
1 Hugo
1 Fiti
1 Diego
1 Julio

In [906]:
megadict

{'Manete': [('Hugo', 1), ('Fiti', 1), ('Diego', 1), ('Julio', 1)],
 'Fran': [('Hugo', 2),
  ('Diego', 1),
  ('Alfonso', 2),
  ('Javi', 3),
  ('Omar', 1),
  ('Ferran', 1),
  ('Rafa', 1),
  ('Jesus D', 1)],
 'Ferran': [('Hugo', 1), ('Javi', 1), ('Rafa', 1), ('Fran', 1)],
 'Alfonso': [('Hugo', 1),
  ('Diego', 1),
  ('Javi', 2),
  ('Omar', 1),
  ('Jesus D', 1),
  ('Fran', 2)],
 'Fiti': [('Hugo', 1), ('Diego', 1), ('Julio', 1), ('Manete', 1)],
 'Diego': [('Hugo', 1),
  ('Fiti', 1),
  ('Julio', 1),
  ('Alfonso', 1),
  ('Javi', 1),
  ('Jesus D', 1),
  ('Fran', 1),
  ('Manete', 1)],
 'Omar': [('Hugo', 1), ('Alfonso', 1), ('Javi', 1), ('Fran', 1)],
 'Julio': [('Hugo', 1), ('Fiti', 1), ('Diego', 1), ('Manete', 1)],
 'Javi': [('Hugo', 2),
  ('Diego', 1),
  ('Alfonso', 2),
  ('Omar', 1),
  ('Ferran', 1),
  ('Rafa', 1),
  ('Jesus D', 1),
  ('Fran', 3)],
 'Rafa': [('Hugo', 1), ('Javi', 1), ('Ferran', 1), ('Fran', 1)],
 'Hugo': [('Fiti', 1),
  ('Diego', 1),
  ('Julio', 1),
  ('Alfonso', 1),
  ('Javi', 2),
  ('Omar', 1),
  ('Ferran', 1),
  ('Rafa', 1),
  ('Fran', 2),
  ('Manete', 1)],
 'Jesus D': [('Diego', 1), ('Alfonso', 1), ('Javi', 1), ('Fran', 1)]}

In [928]:
real_final_dict = {}
for i in megadict:
    print(dict(megadict[i]),i)
    real_final_dict[i] = dict(megadict[i])

{'Hugo': 1, 'Fiti': 1, 'Diego': 1, 'Julio': 1} Manete
{'Hugo': 2, 'Diego': 1, 'Alfonso': 2, 'Javi': 3, 'Omar': 1, 'Ferran': 1, 'Rafa': 1, 'Jesus D': 1} Fran
{'Hugo': 1, 'Javi': 1, 'Rafa': 1, 'Fran': 1} Ferran
{'Hugo': 1, 'Diego': 1, 'Javi': 2, 'Omar': 1, 'Jesus D': 1, 'Fran': 2} Alfonso
{'Hugo': 1, 'Diego': 1, 'Julio': 1, 'Manete': 1} Fiti
{'Hugo': 1, 'Fiti': 1, 'Julio': 1, 'Alfonso': 1, 'Javi': 1, 'Jesus D': 1, 'Fran': 1, 'Manete': 1} Diego
{'Hugo': 1, 'Alfonso': 1, 'Javi': 1, 'Fran': 1} Omar
{'Hugo': 1, 'Fiti': 1, 'Diego': 1, 'Manete': 1} Julio
{'Hugo': 2, 'Diego': 1, 'Alfonso': 2, 'Omar': 1, 'Ferran': 1, 'Rafa': 1, 'Jesus D': 1, 'Fran': 3} Javi
{'Hugo': 1, 'Javi': 1, 'Ferran': 1, 'Fran': 1} Rafa
{'Fiti': 1, 'Diego': 1, 'Julio': 1, 'Alfonso': 1, 'Javi': 2, 'Omar': 1, 'Ferran': 1, 'Rafa': 1, 'Fran': 2, 'Manete': 1} Hugo
{'Diego': 1, 'Alfonso': 1, 'Javi': 1, 'Fran': 1} Jesus D

In [929]:
real_final_dict['Manete']

{'Hugo': 1, 'Fiti': 1, 'Diego': 1, 'Julio': 1}

In [941]:
real_final_dict

{'Manete': {'Hugo': 1, 'Fiti': 1, 'Diego': 1, 'Julio': 1},
 'Fran': {'Hugo': 2,
  'Diego': 1,
  'Alfonso': 2,
  'Javi': 3,
  'Omar': 1,
  'Ferran': 1,
  'Rafa': 1,
  'Jesus D': 1},
 'Ferran': {'Hugo': 1, 'Javi': 1, 'Rafa': 1, 'Fran': 1},
 'Alfonso': {'Hugo': 1,
  'Diego': 1,
  'Javi': 2,
  'Omar': 1,
  'Jesus D': 1,
  'Fran': 2},
 'Fiti': {'Hugo': 1, 'Diego': 1, 'Julio': 1, 'Manete': 1},
 'Diego': {'Hugo': 1,
  'Fiti': 1,
  'Julio': 1,
  'Alfonso': 1,
  'Javi': 1,
  'Jesus D': 1,
  'Fran': 1,
  'Manete': 1},
 'Omar': {'Hugo': 1, 'Alfonso': 1, 'Javi': 1, 'Fran': 1},
 'Julio': {'Hugo': 1, 'Fiti': 1, 'Diego': 1, 'Manete': 1},
 'Javi': {'Hugo': 2,
  'Diego': 1,
  'Alfonso': 2,
  'Omar': 1,
  'Ferran': 1,
  'Rafa': 1,
  'Jesus D': 1,
  'Fran': 3},
 'Rafa': {'Hugo': 1, 'Javi': 1, 'Ferran': 1, 'Fran': 1},
 'Hugo': {'Fiti': 1,
  'Diego': 1,
  'Julio': 1,
  'Alfonso': 1,
  'Javi': 2,
  'Omar': 1,
  'Ferran': 1,
  'Rafa': 1,
  'Fran': 2,
  'Manete': 1},
 'Jesus D': {'Diego': 1, 'Alfonso': 1, 'Javi': 1, 'Fran': 1}}

In [957]:
import itertools

teamed2 = []
x = 0
for i in range(0,len(merged_df),5):
    x += 5
    teamed2.append((merged_df[['Jugadores','WL']][i:x]))
    
winners2 = []
for i in teamed2:
    if 'L' in i['WL'].values:
        winners2.append(list(i['Jugadores']))


tots2 = (list(itertools.chain.from_iterable(winners2)))
unicos2 = list(set(tots2))

parejas2 = {}
for i in unicos2:
    for jugadores2 in winners2:
        if i in jugadores2:
            parejas2.setdefault(i, []).append(list((set(jugadores2)-set([i]))))
dictglobal2 = {}
for dicts2 in parejas2:
    for i in(parejas2[dicts2]):
        for j in i:
            dictglobal2.setdefault(j, []).append(dicts2)
final_dict2 = {}
megadict2 = {}
for i in dictglobal2:
    unique_list2 = list(set((dictglobal2[i])))
    #print(dictglobal[i])
    for j in unique_list2:
        #print(dictglobal[i].count(j),j)
        megadict2.setdefault(j,[]).append((i,dictglobal2[i].count(j)))
real_final_dict2 = {}
for i in megadict2:
    #print(dict(megadict[i]),i)
    real_final_dict2[i] = dict(megadict2[i])

In [958]:
winners2

[['Pepe', 'Manolo', 'Jose Bravo', 'Diego', 'Rafa'],
 ['Pepe', 'Diego', 'Julio', 'Paco', 'Manolo'],
 ['Pepe', 'Carlos M', 'Pablo', 'Julio', 'Manu Jesus'],
 ['Paco', 'Pepe', 'Rafa', 'Fran', 'Raul']]

In [961]:
unicos2

['Fran',
 'Manolo',
 'Paco',
 'Pablo',
 'Manu Jesus',
 'Diego',
 'Raul',
 'Pepe',
 'Jose Bravo',
 'Julio',
 'Carlos M',
 'Rafa']

In [962]:
real_final_dict2

{'Fran': {'Raul': 1, 'Pepe': 1, 'Paco': 1, 'Rafa': 1},
 'Paco': {'Raul': 1,
  'Pepe': 2,
  'Rafa': 1,
  'Diego': 1,
  'Julio': 1,
  'Manolo': 1,
  'Fran': 1},
 'Rafa': {'Raul': 1,
  'Pepe': 2,
  'Paco': 1,
  'Diego': 1,
  'Jose Bravo': 1,
  'Manolo': 1,
  'Fran': 1},
 'Pepe': {'Raul': 1,
  'Paco': 2,
  'Rafa': 2,
  'Diego': 2,
  'Jose Bravo': 1,
  'Julio': 2,
  'Manolo': 2,
  'Fran': 1,
  'Carlos M': 1,
  'Manu Jesus': 1,
  'Pablo': 1},
 'Manolo': {'Pepe': 2,
  'Paco': 1,
  'Rafa': 1,
  'Diego': 2,
  'Jose Bravo': 1,
  'Julio': 1},
 'Pablo': {'Pepe': 1, 'Julio': 1, 'Carlos M': 1, 'Manu Jesus': 1},
 'Manu Jesus': {'Pepe': 1, 'Julio': 1, 'Carlos M': 1, 'Pablo': 1},
 'Diego': {'Pepe': 2,
  'Paco': 1,
  'Rafa': 1,
  'Jose Bravo': 1,
  'Julio': 1,
  'Manolo': 2},
 'Raul': {'Pepe': 1, 'Paco': 1, 'Rafa': 1, 'Fran': 1},
 'Carlos M': {'Pepe': 1, 'Julio': 1, 'Manu Jesus': 1, 'Pablo': 1},
 'Jose Bravo': {'Pepe': 1, 'Rafa': 1, 'Diego': 1, 'Manolo': 1},
 'Julio': {'Pepe': 2,
  'Paco': 1,
  'Diego': 1,
  'Manolo': 1,
  'Carlos M': 1,
  'Manu Jesus': 1,
  'Pablo': 1}}

In [1015]:
value = []
names = []
for k,v in real_final_dict['Fran'].items():
    names.append(k)
    value.append(v)
df = pd.DataFrame({'Companeros':names,'Partidos Ganados':value})
df.sort_values(by = 'Partidos Ganados',ascending = False,inplace = True)
df = df[:3].reset_index().set_index(pd.RangeIndex(1,len(df[:3])+1))
df.drop('index',axis = 1, inplace = True)

In [1006]:
df.sort_values(by = 'Partidos Ganados',ascending = False,inplace = True)

In [1007]:
df = df[:3].reset_index().set_index(pd.RangeIndex(1,len(df[:3])+1))

In [1008]:
df.drop('index',axis = 1, inplace = True)

In [1016]:
df

  Compañeros  Partidos Ganados
1       Javi                 3
2       Hugo                 2
3    Alfonso                 2

In [1013]:
value2 = []
names2 = []
for k,v in real_final_dict2['Fran'].items():
    names2.append(k)
    value2.append(v)
df2 = pd.DataFrame({'Companeros':names2,'Partidos Perdidos':value2})
df2.sort_values(by = 'Partidos Perdidos',ascending = False,inplace = True)
df2 = df2[:3].reset_index().set_index(pd.RangeIndex(1,len(df2[:3])+1))
df2.drop('index',axis = 1, inplace = True)

In [1017]:
df2

  Compañeros  Partidos Perdidos
1       Raul                  1
2       Pepe                  1
3       Paco                  1